.container{
    display: grid;
    border: 2px solid black;
    grid-template-columns: auto auto auto;
    gap: 24px 24px;
    padding: 16px;
    width: 96vw;
    height: 91vh;
    background-color: rgb(81, 130, 208);
    grid-template-rows: 20vh auto auto;
}

.content{
border: 2px solid black;
padding: 4px;
padding-top: 0;
background-color: rgb(201, 222, 229);
}

.name{
    display: grid;
    grid-template-columns: 70vw auto auto;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 22vh;
    padding-right: 16px;
    border-bottom: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 4;
}

.abhishek{
    color: white;
    font-size: 2.5rem;
    font-family: cursive;
}

.photo{
    width: 9vw;
    height: 18vh;
    border-radius: 50%;
}

.dropdown{
    display: inline-block;
    position: relative;
    width:6rem;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(201, 222, 229);
}

.dropdown:hover .dropdown-content {
    display: block;
}

td{
    text-align: center;
}

.education{
    padding: 0 32px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.about{
    grid-row-start: 2;
    grid-row-end: 4;
    width: 25vw;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

.class{
    width: 10vw;
}

.institution{
    width: 30vw;
}

.passing-year{
    width: 20vw;
}
.grade{
    width: 10vw;
}